
data/Aele_transcriptome_v1.fasta
data/wtdbg2_genome/Ae.ctg.lay.fa
analyses/comb
analyses/.RData
analyses/.RData
analyses/.RData
analyses/.RData
analyses/bar01_genome_meth_freq.tsv
analyses/bar02_genome_meth_freq.tsv
analyses/bar03_genome_meth_freq.tsv
analyses/bar04_genome_meth_freq.tsv
analyses/bar05_genome_meth_freq.tsv
analyses/bar06_genome_meth_freq.tsv
